<div class="text-center">
    <h2 class="display-4">Soy Milton Ponce</h2>

    <h4>Soy un desarrollador Full Stack especializado en tecnologias .NET y Javascript</h2>

        <img class="img-fluid avatar" src="~/images/avatar.jpg" alt="avatar" />
</div>

<div class="text-center">
    <img class="img-fluid image-dotnet" src="~/images/dotnet-imagen-2.png" alt="dotnet logo" />
</div>

<div class="row justify-content-center text-center bg-primary">
    <div class="col-md-7 welcome">
        <h1>Te doy la bienvenida a mi protafolio</h1>

        <p>
            Desarrollador de software con experiencia en análisis, diseño, construcción y mantenimiento de sistemas de
            software a gran escala. Dominio de varios patrones arquitectónicos de software y patrones de diseño de
            software. Manejo de varias plataformas, lenguajes y sistemas integrados. Experiencia desarrollando
            aplicaciones Web Full-Stack, APIRest y WebServices haciendo uso de las herramientas y procedimientos de
            desarrollo más vanguardistas. Capaz de autogestión eficaz en proyectos independientes. Buen desempeño en
            trabajo colaborativo dentro de un equipo productivo.
        </p>
    </div>
</div>