@{
    ViewData["Title"] = "Gracias";
}

<h2>Gracias por ponerte en contacto conmigo</h2>
<p>Te contestaré el mensaje lo más pronto posible.</p>

<div>
    <a asp-controller="Home" asp-action="Index">Volver al Inicio</a>
</div>